openapi: 3.0.3
info:
  title: PAY.JP 3D Secure Platform API
  description: PAY.JP is an online payment service operated by PAY, Inc. (PAY株式会社) in Japan. The REST API creates charges, tokenizes cards, manages customers, runs subscriptions (定期課金), and reports transfers (入金) and balances in Japanese yen. Authentication is HTTP Basic with a secret key (sk_test_ / sk_live_) as the username and an empty password. All amounts are integer JPY.
  termsOfService: https://pay.jp/terms
  contact:
    name: PAY.JP Support
    url: https://help.pay.jp/
  version: '1.0'
servers:
- url: https://api.pay.jp/v1
  description: PAY.JP REST API (HTTPS only)
security:
- basicAuth: []
tags:
- name: Platform
paths:
  /tenants:
    get:
      operationId: listTenants
      tags:
      - Platform
      summary: List platform tenants (beta)
      responses:
        '200':
          $ref: '#/components/responses/List'
    post:
      operationId: createTenant
      tags:
      - Platform
      summary: Create a platform tenant (sub-merchant)
      responses:
        '200':
          $ref: '#/components/responses/Object'
  /tenants/{id}:
    parameters:
    - $ref: '#/components/parameters/id'
    get:
      operationId: retrieveTenant
      tags:
      - Platform
      summary: Retrieve a tenant
      responses:
        '200':
          $ref: '#/components/responses/Object'
    post:
      operationId: updateTenant
      tags:
      - Platform
      summary: Update a tenant
      responses:
        '200':
          $ref: '#/components/responses/Object'
    delete:
      operationId: deleteTenant
      tags:
      - Platform
      summary: Delete a tenant
      responses:
        '200':
          $ref: '#/components/responses/Deleted'
  /tenant_transfers:
    get:
      operationId: listTenantTransfers
      tags:
      - Platform
      summary: List tenant transfers
      responses:
        '200':
          $ref: '#/components/responses/List'
  /tenant_transfers/{id}:
    parameters:
    - $ref: '#/components/parameters/id'
    get:
      operationId: retrieveTenantTransfer
      tags:
      - Platform
      summary: Retrieve a tenant transfer
      responses:
        '200':
          $ref: '#/components/responses/Object'
components:
  responses:
    Object:
      description: A PAY.JP resource object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Object'
    Deleted:
      description: A deletion confirmation
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
              object:
                type: string
                example: charge
              deleted:
                type: boolean
                example: true
    List:
      description: A paginated list object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/List'
  schemas:
    List:
      type: object
      properties:
        object:
          type: string
          example: list
        count:
          type: integer
        has_more:
          type: boolean
        url:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Object'
    Object:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        livemode:
          type: boolean
        created:
          type: integer
          description: Unix timestamp
      additionalProperties: true
  parameters:
    id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use the secret key (sk_test_ / sk_live_) as the username and leave the password empty.
