openapi: 3.0.3
info:
  title: PAY.JP 3D Secure Balances API
  description: PAY.JP is an online payment service operated by PAY, Inc. (PAY株式会社) in Japan. The REST API creates charges, tokenizes cards, manages customers, runs subscriptions (定期課金), and reports transfers (入金) and balances in Japanese yen. Authentication is HTTP Basic with a secret key (sk_test_ / sk_live_) as the username and an empty password. All amounts are integer JPY.
  termsOfService: https://pay.jp/terms
  contact:
    name: PAY.JP Support
    url: https://help.pay.jp/
  version: '1.0'
servers:
- url: https://api.pay.jp/v1
  description: PAY.JP REST API (HTTPS only)
security:
- basicAuth: []
tags:
- name: Balances
paths:
  /balances:
    get:
      operationId: listBalances
      tags:
      - Balances
      summary: List account balances (残高)
      responses:
        '200':
          $ref: '#/components/responses/List'
  /balances/{id}:
    parameters:
    - $ref: '#/components/parameters/id'
    get:
      operationId: retrieveBalance
      tags:
      - Balances
      summary: Retrieve a balance
      responses:
        '200':
          $ref: '#/components/responses/Object'
components:
  responses:
    Object:
      description: A PAY.JP resource object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Object'
    List:
      description: A paginated list object
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/List'
  schemas:
    List:
      type: object
      properties:
        object:
          type: string
          example: list
        count:
          type: integer
        has_more:
          type: boolean
        url:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Object'
    Object:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
        livemode:
          type: boolean
        created:
          type: integer
          description: Unix timestamp
      additionalProperties: true
  parameters:
    id:
      name: id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use the secret key (sk_test_ / sk_live_) as the username and leave the password empty.
