# Provenance: modeled-from-docs. PAY.JP does not publish an official OpenAPI/Swagger
# specification (the payjp GitHub org ships language SDKs only). This document was
# modeled by API Evangelist from the public REST reference at https://docs.pay.jp/v1/api/
# and the integration guides at https://pay.jp/docs/ (fetched 2026-07-17). Paths, methods,
# HTTP Basic auth, JPY-only currency, and per-zone rate limits are documented; response
# schemas are representative and should be verified against the live reference before use.
openapi: 3.0.3
info:
  title: PAY.JP API
  description: >-
    PAY.JP is an online payment service operated by PAY, Inc. (PAY株式会社) in Japan.
    The REST API creates charges, tokenizes cards, manages customers, runs
    subscriptions (定期課金), and reports transfers (入金) and balances in Japanese yen.
    Authentication is HTTP Basic with a secret key (sk_test_ / sk_live_) as the
    username and an empty password. All amounts are integer JPY.
  termsOfService: https://pay.jp/terms
  contact:
    name: PAY.JP Support
    url: https://help.pay.jp/
  version: '1.0'
servers:
  - url: https://api.pay.jp/v1
    description: PAY.JP REST API (HTTPS only)
security:
  - basicAuth: []
tags:
  - name: Charges
  - name: Customers
  - name: Cards
  - name: Tokens
  - name: Plans
  - name: Subscriptions
  - name: Transfers
  - name: Statements
  - name: Balances
  - name: Terms
  - name: Events
  - name: 3D Secure
  - name: Platform
  - name: Account
paths:
  /charges:
    get:
      operationId: listCharges
      tags: [Charges]
      summary: List charges
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200': { $ref: '#/components/responses/List' }
    post:
      operationId: createCharge
      tags: [Charges]
      summary: Create a charge
      description: >-
        Create a charge against a card token, a customer, or a stored card.
        Set capture=false to authorize only and capture later.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                amount: { type: integer, description: Amount in JPY, minimum 50 }
                currency: { type: string, enum: [jpy], default: jpy }
                card: { type: string, description: A token id (tok_xxx) or card id }
                customer: { type: string, description: A customer id (cus_xxx) }
                capture: { type: boolean, default: true }
                description: { type: string }
                metadata: { type: object, additionalProperties: true }
              required: [amount, currency]
      responses:
        '200': { $ref: '#/components/responses/Charge' }
        '400': { $ref: '#/components/responses/Error' }
        '402': { $ref: '#/components/responses/Error' }
  /charges/{id}:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: retrieveCharge
      tags: [Charges]
      summary: Retrieve a charge
      responses:
        '200': { $ref: '#/components/responses/Charge' }
    post:
      operationId: updateCharge
      tags: [Charges]
      summary: Update a charge (description / metadata)
      responses:
        '200': { $ref: '#/components/responses/Charge' }
  /charges/{id}/refund:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    post:
      operationId: refundCharge
      tags: [Charges]
      summary: Refund a charge (full or partial)
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                amount: { type: integer }
                refund_reason: { type: string }
      responses:
        '200': { $ref: '#/components/responses/Charge' }
  /charges/{id}/capture:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    post:
      operationId: captureCharge
      tags: [Charges]
      summary: Capture a previously authorized charge
      responses:
        '200': { $ref: '#/components/responses/Charge' }
  /charges/{id}/reauth:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    post:
      operationId: reauthCharge
      tags: [Charges]
      summary: Re-authorize an expiring authorization
      responses:
        '200': { $ref: '#/components/responses/Charge' }
  /charges/{id}/tds_finish:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    post:
      operationId: finishChargeThreeDSecure
      tags: [Charges, 3D Secure]
      summary: Complete the 3D Secure flow for a charge
      responses:
        '200': { $ref: '#/components/responses/Charge' }
  /customers:
    get:
      operationId: listCustomers
      tags: [Customers]
      summary: List customers
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200': { $ref: '#/components/responses/List' }
    post:
      operationId: createCustomer
      tags: [Customers]
      summary: Create a customer
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: { type: string }
                description: { type: string }
                card: { type: string, description: Token id to attach as default card }
                metadata: { type: object, additionalProperties: true }
      responses:
        '200': { $ref: '#/components/responses/Customer' }
  /customers/{id}:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: retrieveCustomer
      tags: [Customers]
      summary: Retrieve a customer
      responses:
        '200': { $ref: '#/components/responses/Customer' }
    post:
      operationId: updateCustomer
      tags: [Customers]
      summary: Update a customer
      responses:
        '200': { $ref: '#/components/responses/Customer' }
    delete:
      operationId: deleteCustomer
      tags: [Customers]
      summary: Delete a customer
      responses:
        '200': { $ref: '#/components/responses/Deleted' }
  /customers/{id}/cards:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: listCustomerCards
      tags: [Cards]
      summary: List a customer's cards
      responses:
        '200': { $ref: '#/components/responses/List' }
    post:
      operationId: createCustomerCard
      tags: [Cards]
      summary: Attach a card to a customer
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                card: { type: string, description: Token id (tok_xxx) }
              required: [card]
      responses:
        '200': { $ref: '#/components/responses/Card' }
  /customers/{id}/cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/card_id'
    get:
      operationId: retrieveCustomerCard
      tags: [Cards]
      summary: Retrieve a customer's card
      responses:
        '200': { $ref: '#/components/responses/Card' }
    post:
      operationId: updateCustomerCard
      tags: [Cards]
      summary: Update a customer's card
      responses:
        '200': { $ref: '#/components/responses/Card' }
    delete:
      operationId: deleteCustomerCard
      tags: [Cards]
      summary: Delete a customer's card
      responses:
        '200': { $ref: '#/components/responses/Deleted' }
  /tokens:
    post:
      operationId: createToken
      tags: [Tokens]
      summary: Create a single-use card token
      description: >-
        Normally called client-side with the publishable key (pk_xxx) via payjp.js
        so raw card numbers never touch the merchant server.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                'card[number]': { type: string }
                'card[exp_month]': { type: integer }
                'card[exp_year]': { type: integer }
                'card[cvc]': { type: string }
      responses:
        '200': { $ref: '#/components/responses/Token' }
  /tokens/{id}:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: retrieveToken
      tags: [Tokens]
      summary: Retrieve a token
      responses:
        '200': { $ref: '#/components/responses/Token' }
  /tokens/{id}/tds_finish:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    post:
      operationId: finishTokenThreeDSecure
      tags: [Tokens, 3D Secure]
      summary: Complete the 3D Secure flow for a token
      responses:
        '200': { $ref: '#/components/responses/Token' }
  /plans:
    get:
      operationId: listPlans
      tags: [Plans]
      summary: List plans
      responses:
        '200': { $ref: '#/components/responses/List' }
    post:
      operationId: createPlan
      tags: [Plans]
      summary: Create a recurring plan
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                amount: { type: integer }
                currency: { type: string, enum: [jpy], default: jpy }
                interval: { type: string, enum: [month, year] }
                trial_days: { type: integer }
                billing_day: { type: integer }
                name: { type: string }
              required: [amount, currency, interval]
      responses:
        '200': { $ref: '#/components/responses/Plan' }
  /plans/{id}:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: retrievePlan
      tags: [Plans]
      summary: Retrieve a plan
      responses:
        '200': { $ref: '#/components/responses/Plan' }
    post:
      operationId: updatePlan
      tags: [Plans]
      summary: Update a plan
      responses:
        '200': { $ref: '#/components/responses/Plan' }
    delete:
      operationId: deletePlan
      tags: [Plans]
      summary: Delete a plan
      responses:
        '200': { $ref: '#/components/responses/Deleted' }
  /subscriptions:
    get:
      operationId: listSubscriptions
      tags: [Subscriptions]
      summary: List subscriptions
      responses:
        '200': { $ref: '#/components/responses/List' }
    post:
      operationId: createSubscription
      tags: [Subscriptions]
      summary: Create a subscription (定期課金)
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                customer: { type: string }
                plan: { type: string }
                prorate: { type: boolean }
                metadata: { type: object, additionalProperties: true }
              required: [customer, plan]
      responses:
        '200': { $ref: '#/components/responses/Subscription' }
  /subscriptions/{id}:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: retrieveSubscription
      tags: [Subscriptions]
      summary: Retrieve a subscription
      responses:
        '200': { $ref: '#/components/responses/Subscription' }
    post:
      operationId: updateSubscription
      tags: [Subscriptions]
      summary: Update a subscription
      responses:
        '200': { $ref: '#/components/responses/Subscription' }
    delete:
      operationId: deleteSubscription
      tags: [Subscriptions]
      summary: Delete a subscription
      responses:
        '200': { $ref: '#/components/responses/Deleted' }
  /subscriptions/{id}/pause:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    post:
      operationId: pauseSubscription
      tags: [Subscriptions]
      summary: Pause a subscription
      responses:
        '200': { $ref: '#/components/responses/Subscription' }
  /subscriptions/{id}/resume:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    post:
      operationId: resumeSubscription
      tags: [Subscriptions]
      summary: Resume a paused subscription
      responses:
        '200': { $ref: '#/components/responses/Subscription' }
  /subscriptions/{id}/cancel:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    post:
      operationId: cancelSubscription
      tags: [Subscriptions]
      summary: Cancel a subscription
      responses:
        '200': { $ref: '#/components/responses/Subscription' }
  /transfers:
    get:
      operationId: listTransfers
      tags: [Transfers]
      summary: List transfers (入金)
      responses:
        '200': { $ref: '#/components/responses/List' }
  /transfers/{id}:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: retrieveTransfer
      tags: [Transfers]
      summary: Retrieve a transfer
      responses:
        '200': { $ref: '#/components/responses/Object' }
  /transfers/{id}/details:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: listTransferDetails
      tags: [Transfers]
      summary: List the charges settled in a transfer
      responses:
        '200': { $ref: '#/components/responses/List' }
  /statements:
    get:
      operationId: listStatements
      tags: [Statements]
      summary: List transaction statements (取引明細)
      responses:
        '200': { $ref: '#/components/responses/List' }
  /statements/{id}:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: retrieveStatement
      tags: [Statements]
      summary: Retrieve a statement
      responses:
        '200': { $ref: '#/components/responses/Object' }
  /statements/{id}/statement_urls:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    post:
      operationId: createStatementDownloadUrl
      tags: [Statements]
      summary: Issue a signed CSV download URL for a statement
      responses:
        '200': { $ref: '#/components/responses/Object' }
  /balances:
    get:
      operationId: listBalances
      tags: [Balances]
      summary: List account balances (残高)
      responses:
        '200': { $ref: '#/components/responses/List' }
  /balances/{id}:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: retrieveBalance
      tags: [Balances]
      summary: Retrieve a balance
      responses:
        '200': { $ref: '#/components/responses/Object' }
  /terms:
    get:
      operationId: listTerms
      tags: [Terms]
      summary: List aggregation terms (集計区間)
      responses:
        '200': { $ref: '#/components/responses/List' }
  /terms/{id}:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: retrieveTerm
      tags: [Terms]
      summary: Retrieve a term
      responses:
        '200': { $ref: '#/components/responses/Object' }
  /events:
    get:
      operationId: listEvents
      tags: [Events]
      summary: List events (webhook event backlog)
      responses:
        '200': { $ref: '#/components/responses/List' }
  /events/{id}:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: retrieveEvent
      tags: [Events]
      summary: Retrieve an event
      responses:
        '200': { $ref: '#/components/responses/Object' }
  /three_d_secure_requests:
    get:
      operationId: listThreeDSecureRequests
      tags: [3D Secure]
      summary: List 3D Secure requests
      responses:
        '200': { $ref: '#/components/responses/List' }
    post:
      operationId: createThreeDSecureRequest
      tags: [3D Secure]
      summary: Create a 3D Secure request
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                resource_id: { type: string, description: A card id (car_xxx) to authenticate }
      responses:
        '200': { $ref: '#/components/responses/Object' }
  /three_d_secure_requests/{id}:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: retrieveThreeDSecureRequest
      tags: [3D Secure]
      summary: Retrieve a 3D Secure request
      responses:
        '200': { $ref: '#/components/responses/Object' }
  /tenants:
    get:
      operationId: listTenants
      tags: [Platform]
      summary: List platform tenants (beta)
      responses:
        '200': { $ref: '#/components/responses/List' }
    post:
      operationId: createTenant
      tags: [Platform]
      summary: Create a platform tenant (sub-merchant)
      responses:
        '200': { $ref: '#/components/responses/Object' }
  /tenants/{id}:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: retrieveTenant
      tags: [Platform]
      summary: Retrieve a tenant
      responses:
        '200': { $ref: '#/components/responses/Object' }
    post:
      operationId: updateTenant
      tags: [Platform]
      summary: Update a tenant
      responses:
        '200': { $ref: '#/components/responses/Object' }
    delete:
      operationId: deleteTenant
      tags: [Platform]
      summary: Delete a tenant
      responses:
        '200': { $ref: '#/components/responses/Deleted' }
  /tenant_transfers:
    get:
      operationId: listTenantTransfers
      tags: [Platform]
      summary: List tenant transfers
      responses:
        '200': { $ref: '#/components/responses/List' }
  /tenant_transfers/{id}:
    parameters: [ { $ref: '#/components/parameters/id' } ]
    get:
      operationId: retrieveTenantTransfer
      tags: [Platform]
      summary: Retrieve a tenant transfer
      responses:
        '200': { $ref: '#/components/responses/Object' }
  /account:
    get:
      operationId: retrieveAccount
      tags: [Account]
      summary: Retrieve the authenticated merchant account
      responses:
        '200': { $ref: '#/components/responses/Object' }
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: >-
        HTTP Basic authentication. Use the secret key (sk_test_ / sk_live_) as the
        username and leave the password empty.
  parameters:
    id:
      name: id
      in: path
      required: true
      schema: { type: string }
    card_id:
      name: card_id
      in: path
      required: true
      schema: { type: string }
    limit:
      name: limit
      in: query
      schema: { type: integer, default: 10, maximum: 100 }
    offset:
      name: offset
      in: query
      schema: { type: integer, default: 0 }
  responses:
    Charge:
      description: A Charge object
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Charge' }
    Customer:
      description: A Customer object
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Customer' }
    Card:
      description: A Card object
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Card' }
    Token:
      description: A Token object
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Token' }
    Plan:
      description: A Plan object
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Object' }
    Subscription:
      description: A Subscription object
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Object' }
    Object:
      description: A PAY.JP resource object
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Object' }
    List:
      description: A paginated list object
      content:
        application/json:
          schema: { $ref: '#/components/schemas/List' }
    Deleted:
      description: A deletion confirmation
      content:
        application/json:
          schema:
            type: object
            properties:
              id: { type: string }
              object: { type: string, example: charge }
              deleted: { type: boolean, example: true }
    Error:
      description: An error response
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    Object:
      type: object
      properties:
        id: { type: string }
        object: { type: string }
        livemode: { type: boolean }
        created: { type: integer, description: Unix timestamp }
      additionalProperties: true
    List:
      type: object
      properties:
        object: { type: string, example: list }
        count: { type: integer }
        has_more: { type: boolean }
        url: { type: string }
        data:
          type: array
          items: { $ref: '#/components/schemas/Object' }
    Charge:
      type: object
      properties:
        id: { type: string, example: ch_xxxxxxxxxxxxxxxx }
        object: { type: string, example: charge }
        amount: { type: integer, example: 3500 }
        currency: { type: string, example: jpy }
        paid: { type: boolean }
        captured: { type: boolean }
        refunded: { type: boolean }
        amount_refunded: { type: integer }
        customer: { type: string, nullable: true }
        card: { $ref: '#/components/schemas/Card' }
        three_d_secure_status: { type: string, nullable: true }
        created: { type: integer }
        livemode: { type: boolean }
        metadata: { type: object, additionalProperties: true }
    Customer:
      type: object
      properties:
        id: { type: string, example: cus_xxxxxxxxxxxxxxxx }
        object: { type: string, example: customer }
        email: { type: string, nullable: true }
        description: { type: string, nullable: true }
        default_card: { type: string, nullable: true }
        cards: { $ref: '#/components/schemas/List' }
        subscriptions: { $ref: '#/components/schemas/List' }
        created: { type: integer }
        livemode: { type: boolean }
    Card:
      type: object
      properties:
        id: { type: string, example: car_xxxxxxxxxxxxxxxx }
        object: { type: string, example: card }
        brand: { type: string, example: Visa }
        last4: { type: string, example: '4242' }
        exp_month: { type: integer }
        exp_year: { type: integer }
        name: { type: string, nullable: true }
        three_d_secure_status: { type: string, nullable: true }
        created: { type: integer }
    Token:
      type: object
      properties:
        id: { type: string, example: tok_xxxxxxxxxxxxxxxx }
        object: { type: string, example: token }
        livemode: { type: boolean }
        used: { type: boolean }
        card: { $ref: '#/components/schemas/Card' }
        created: { type: integer }
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            type:
              type: string
              enum: [client_error, card_error, auth_error, server_error]
            code: { type: string, example: over_capacity }
            message: { type: string }
            status: { type: integer }
            param: { type: string }
